body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h1{
    font-size: 8vh;
    line-height: 8vh;
}

#app{
    display: grid;
    grid-template-rows: 20vh 20vh ;
    grid-template-areas: 
    "grid-headline"
    "grid-zip"
    "grid-feel"
    "grid-entry";
    /* grid-auto-rows: minmax(150px, auto); */
    /* grid-template-columns:  */
    /* height:100vh; */
    background: whitesmoke;
    color: black;
    /* justify-content: center; */
    padding-left: 2vw;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

    .headline {
        display: flex;
        grid-area: grid-headline;
        background-color: rgb(63, 61, 61);
        color: white;
        border-radius: 1vh;
        width: 1fr;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .zip {
        grid-area: grid-zip;
    }

    .feel {
        grid-area: grid-feel;
    }

    .entry{
        grid-area: grid-entry;
        background: rgba(59, 74, 107, .4);
    }

.holder{
    display: flex;
    flex-direction: column;
    max-width: 96vw;
    background-color: rgb(202, 196, 196);;
    /* border: 2px solid green; */
    border-radius: 10px;
    padding: 2vh 2vw;
}





#entryHolder{

}

#date{

}

#temp{

}

#content{

}

.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

button{
    width: 400px;
    height: 100px;
    background: green;
    color: white;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    border-radius: 2vw;
}


textarea{
    background:white;
    color: black;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;

} 